.feed-item {
  transition: .4s;
  font-size: 22px;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    color: #7d7d7d;
  }

  &_active {
    color: #2ad827;

    &:hover {
      color: #2ad827;
    }
  }
}
