.feed-list {
  list-style: none;
}

.feed-title {
  position: relative;
  transition: .2s;
  font-size: 18px;
  color: #ccc;
  text-align: left;

  &:hover {
    color: #000;
  }
}

.feed-item {
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;

  &_active {

    .feed-title {
      color: #000000;
    }
  }
}
