@import 'variables';
@import 'mixins';

* {
  outline: none;
  @include fonts;
  box-sizing: border-box;
}

.theme {
  color: $theme-color;
}

.wrapper {
  padding: 20px;
}

.container {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  max-width: 33.3333%;
}

.fade-in {
  @include fade-in;
}

.list {
  @include fonts;
  list-style: none;
}

.box {
  @include box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 100%;
  cursor: pointer;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid $black-color;
  @include fonts;
}

.form-field:-webkit-autofill,
.form-field:-webkit-autofill:hover,
.form-field:-webkit-autofill:focus, {
  color: inherit;
  transition: background-color 100s ease-in-out 0s;
}

.btn:disabled,
.btn[disabled] {
  border: 2px solid $disabled;
  background-color: transparent;
  color: $disabled;
  @include fonts;
  cursor: not-allowed;
}

.btn {
  width: 200px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: .4s;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $btn;
  background-color: $btn;
  
  &:hover {
    opacity: .9;
  }
}

.error-message {
  color: $error;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  font-family: $base-fonts;
}
