@import 'variables';
@import 'mixins';

/* common */

* {
  outline: none;
  @include fonts;
  box-sizing: border-box;
}

.form-field {
  width: 100%;
  cursor: pointer;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #000000;
  @include fonts;
}

.form-field:-webkit-autofill,
.form-field:-webkit-autofill:hover,
.form-field:-webkit-autofill:focus, {
  color: inherit;
  transition: background-color 100s ease-in-out 0s;
}

.btn:disabled,
.btn[disabled] {
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  @include fonts;
  cursor: not-allowed;
}

.list {
  @include fonts;
  list-style: none;
}

.box {
  max-height: 550px;
  overflow-y: auto;
}

.btn {
  width: 200px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: .4s;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #675597;
  background-color: #675597;

  &:hover {
    opacity: .9;
  }
}

.wrapper {
  padding: 20px;
}

.container {
  position: relative;
  max-width: 33.3333%;
  flex-grow: 1;
  flex-shrink: 1;
}

.theme-text {
  color: $theme-color;
}

.fade-in {
  @include fade-in;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: $error;
  margin: 20px 0;
  font-size: 14px;
  font-family: $base-fonts;
  text-align: center;
  text-transform: uppercase;
}
