@import 'mixins';
@import 'variables';

* {
  outline: none;
  @include fonts;
  box-sizing: border-box;
}

.theme {
  color: $theme-color;
}

.mb-1 {
  margin-bottom: 10px;
}

.wrapper {
  padding: 10px 20px;
}

.home-container {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  max-width: 33.3333%;
}

.fade-in {
  @include fade-in;
}

.list {
  @include fonts;
  list-style: none;
}

.box {
  @include box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 100%;
  cursor: pointer;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid $black-color;
  @include fonts;
}

.form-field:-webkit-autofill,
.form-field:-webkit-autofill:hover,
.form-field:-webkit-autofill:focus, {
  color: inherit;
  transition: background-color 100s ease-in-out 0s;
}

.v-btn {
  @include fonts;
}

.v-text-field {
  margin: 0 20px 0 0;
  @include fonts;
  padding-top: 14px;
}

.v-messages__message, .error-message {
  color: $error;
  margin: 10px 0;
  font-size: 16px;
  font-family: $base-fonts;
}

.v-text-field .v-label--active {
  max-width: 133%;
  -webkit-transform: translateY(-18px) scale(0.75);
  transform: translate(-15px, -18px) scale(0.75);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
