@import 'variables';

@mixin margin {
  margin-bottom: 10px;
}

@mixin fonts {
  box-sizing: border-box;
  font-family: $base-fonts;
  font-weight: 400;
}

@mixin fade-in {
  animation: fadeIn $long-transition linear;
}


/* keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
