@import 'mixins';
@import 'variables';

/* stylelint-disable */

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto'), local('Roboto-Light');
  src: url('~@/assets/fonts/roboto/roboto-light/Roboto-Light.eot');
  src: url('~@/assets/fonts/roboto/roboto-light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/roboto/roboto-light/Roboto-Light.svg') format('woff'),
  url('~@/assets/fonts/roboto/roboto-light/Roboto-Light.svg') format('truetype'),
  url('~@/assets/fonts/roboto/roboto-light/Roboto-Light.svg#Roboto-Regular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular');
  src: url('~@/assets/fonts/roboto/roboto-regular/Roboto-Regular.eot');
  src: url('~@/assets/fonts/roboto/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/roboto/roboto-regular/Roboto-Regular.woff') format('woff'),
  url('~@/assets/fonts/roboto/roboto-regular/Roboto-Regular.ttf') format('truetype'),
  url('~@/assets/fonts/roboto/roboto-regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto'), local('Roboto-Bold');
  src: url('~@/assets/fonts/roboto/roboto-bold/Roboto-Bold.eot');
  src: url('~@/assets/fonts/roboto/roboto-bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/roboto/roboto-bold/Roboto-Bold.woff') format('woff'),
  url('~@/assets/fonts/roboto/roboto-bold/Roboto-Bold.ttf') format('truetype'),
  url('~@/assets/fonts/roboto/roboto-bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

/* stylelint-enable */

h1 {
  font-size: 34px;
  @include margin;
  @include fonts;
  line-height: 120%;
}

h2 {
  font-size: 22px;
  @include margin;
  @include fonts;
  line-height: 120%;
}

h3 {
  font-size: 20px;
  @include margin;
  @include fonts;
  line-height: 120%;
}

h4 {
  font-size: 18px;
  @include margin;
  @include fonts;
  line-height: 120%;
}

h5 {
  font-size: 16px;
  @include margin;
  @include fonts;
  line-height: 120%;
}

h6 {
  font-size: 14px;
  @include margin;
  @include fonts;
  line-height: 120%;
}

p {
  font-size: 16px;
  @include margin;
  @include fonts;
  line-height: 120%;
}

a {
  color: inherit;
  @include margin;
  @include fonts;
  line-height: 120%;
}
