/* colors */
$white-color: #fff;
$black-color: #000;

$input-text: #8492af;

$theme-color: #0e1a35;
$theme-dark-color: #113593;

$btn: #799efb;

$complete: #4bff00;
$error: #ff1616;

/* transitions */
$transition: .4s;
$short-transition: .1s;
$long-transition: .6s;

/* fonts */
$base-fonts: 'Roboto', 'Helvetica', 'Open Sans', 'sans-serif', 'Arial';


