/* colors */
$btn: #799efb;

$error: #ff1616;
$complete: #4bff00;

$white-color: #fff;
$black-color: #000;

$input-text: #8492af;

$theme-color: #ff7546;

$post-color: #675597;

/* transitions */
$transition: .4s;
$short-transition: .1s;
$long-transition: .6s;

/* fonts */
$base-fonts: 'Roboto', 'Helvetica', 'Open Sans', 'sans-serif', 'Arial';


