/* colors */
$btn: #675597;
$disabled: #c4c4c4;

$border: #efefef;

$error: #ff1616;
$complete: #4bff00;

$white-color: #fff;
$black-color: #000;

$text-color: #575757;

$theme-color: #ff7546;

/* transitions */
$transition: .4s;
$short-transition: .1s;
$long-transition: .6s;

/* fonts */
$base-fonts: 'Roboto', 'Helvetica', 'Open Sans', 'sans-serif', 'Arial';


